/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
composer.lock
/public/vendor/scribe
/public/upload
/resources/docs
/resources/views/scribe
/.scribe/*
mysql-dump/*
!mysql-dump/.gitkeep
lnmp/services/php/ssh/*
!lnmp/services/php/ssh/.gitkeep